@import 'reset';

h1, h2, h3, h4, h5, h6, p, input, a, body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #D43256;
}
